.logo-osuc {
    width: 280px;
    height: 70px;
    max-height: 70px;
    object-fit: contain;
    margin: 0px 15px;
    max-width: 12rem;
}

.switch-dark[data-isOn="true"] {
    justify-content: flex-end;
    background: var(--main--nabyblue);
}

.handle-dark {
    width: 2rem;
    height: 2rem;
    display: block;
    box-shadow: var(--box-shadow2);
    background-color: var(--white--3);
    border-radius: 40px;
}
