// Landing page content 
#welcome-hero {
    background-color: var(--white--3);
    padding: 20px 50px;
}

#members {
    padding: 20px 50px;
}

.search-members {
    text-align: center;
}

.search-members__title {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.search-members__input {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: "Inter";
    font-weight: 400;
    max-width: 60%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.profile__list {
    // Flex for team members' avatars 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 80%;
    margin: 0 auto;
}

.profile {
    // Flex for each team member's avatar and info 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--white--1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 290px;
    justify-content: center;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__name {
    overflow-wrap: break-word;
    // Center 
    text-align: center;
    // Max width and break words 
    max-width: 200px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 0;
}

.profile__title {
    overflow-wrap: break-word;
    text-align: center;
    max-width: 200px;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}