.form-solicitud {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  .input-solicitud {
    display: block;
    min-width: 80%;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    width: 35em;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;

    &:hover {
      border-color: var(--main--nabyblue);
    }
  }

  .button-solicitud {
    margin: 0.8em;
    padding: 1em;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: var(--black--4);

    &:hover {
      color: white;
    }
  }
}
