// Defensive CSS Reset
// https://defensivecss.dev/articles/intro-defensive-css/

// [1] Break words when there is enough space
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    overflow-wrap: break-word;
    // [1]
}


// [1] Set a maximum width for an image
//[2] Let the image cover its bounding box to avoid distortion.
img {
    max-width: 100%;
    // [1]
    object-fit: cover;
    // [2]
}

// Set default text styles
body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black--1);
    background: var(--white--1);
    margin: 20px auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    margin: 0px auto;
}

main {
    min-height: 84.3vh;
}

h1 h2 {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 2.2em;
}

h1 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 12px;
    margin-top: 24px;
}

// Links
a {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

.border-danger {
    border: 2px solid #dc3545;
    box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.2), inset 0 0 5px 5px rgba(130, 2, 2, 0.2) !important;
}

.text-danger {
    color: #dc3545;
}


.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #fff !important;
}
