/* Defensive CSS Reset */
/* https://defensivecss.dev/articles/intro-defensive-css/ */

/* [1] Break words when there is enough space */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
  /* [1] */
}

/*
[1] Set a maximum width for an image
[2] Let the image cover its bounding box to avoid distortion.
*/
img {
  max-width: 100%;
  /* [1] */
  object-fit: cover;
  /* [2] */
}

/* Variables */

:root {
  /* Colors (from the OSUC Design Kit) */
  --main--white: rgba(253, 251, 247, 1);
  --main--bluegreen: rgba(150, 230, 215, 1);
  --main--munsell: rgba(63, 144, 169, 1);
  --main--nabyblue: rgba(0, 115, 222, 1);
  --main--bluedark: rgba(39, 46, 145, 1);
  --black--1: rgba(46, 52, 64, 1);
  --black--2: rgba(59, 66, 82, 1);
  --black--3: rgba(67, 76, 94, 1);
  --black--4: rgba(76, 86, 106, 1);
  --white--1: rgba(242, 244, 248, 1);
  --white--2: rgba(229, 233, 240, 1);
  --white--3: rgba(216, 222, 233, 1);
  --white--4: rgba(193, 200, 215, 1);
  --blue: rgba(94, 129, 172, 1);
  --yellow: rgba(235, 203, 139, 1);
  --red: rgba(191, 97, 106, 1);
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  --box-shadow2: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.dark {
  --white--1: rgba(46, 52, 64, 1);
  --white--2: rgba(59, 66, 82, 1);
  --white--3: rgba(67, 76, 94, 1);
  --white--4: rgba(76, 86, 106, 1);
  --black--1: rgba(242, 244, 248, 1);
  --black--2: rgba(229, 233, 240, 1);
  --black--3: rgba(216, 222, 233, 1);
  --black--4: rgba(193, 200, 215, 1);
  --main--nabyblue: hsl(209, 100%, 60%);
}

/* Set default text styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--black--1);
  background: var(--white--1);
  margin: 20px auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

main {
  min-height: 800px;
}

h1 h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
}

h1 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 24px;
}

/* No borders! */
body {
  margin: 0px auto;
}

/* Header + Navbar */
header {
  background-color: var(--black--2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  max-height: 70px;
  z-index: 10;
}

/* Links */
a {
  color: var(--main--nabyblue);
  text-decoration: none;
}

/* Button theme switch */
.switchtheme {
  background: var(--black--1);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0;
  margin: 0 auto;
}

.switchtheme::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  border-radius: 100px;
  background: var(--white--3);
  box-shadow: var(--box-shadow2);
  transition: all 0.3s ease;
  left: 0;
  right: unset;
}

.activetheme {
  background: var(--main--nabyblue);
}

.activetheme::after {
  left: unset !important;
  right: 0 !important;
}

.switchtheme span {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: block;
  background: none;
  color: var(--white--1);
}

/* Make navbar an horizontal flex */
.nav-main ul {
  display: flex;
  align-items: center;
}

/* Make navbar an right-aligned horizontal flex */
.nav-main li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

/* Link styling */
.nav-main a {
  color: var(--white--3);
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
}

/* Make profile picture visible*/
.login-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Make the hamburger unfold*/
.checkbtn {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  display: none;
  float: right;
  line-height: 80px;
  transition: all 0.3s ease;
  padding: 0 1rem;
}

/* Makes it display with the profile picture */
.checkbtn-profile {
  font-size: 2.5rem;
  cursor: pointer;
  float: right;
  line-height: 0px;
  transition: all 0.3s ease;
}

#check {
  display: none;
}

#check-profile {
  display: none;
}

#check-profile:checked~.profile-dropdown {
  display: block;
}

#check-profile:checked~.profile-dropdown li {
  display: block;
}

/* Drop down list */
.profile-dropdown {
  position: absolute;
  background: var(--black--2);
  z-index: -1;
  top: 0;
  right: 0;
  margin-top: 70px;
  padding: 0;
  display: none;
  border: 1px solid var(--white--4);
  border-top: 0;
}

.profile-dropdown li {
  display: none;
  margin: 0;
  font-size: 1.1rem;
  line-height: 30px;
  border-top-width: 1.3px;
  border-top-style: solid;
  border-top-color: var(--white--4);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

/* Make navbar links whiter on hover */
.nav-main a:hover {
  color: var(--white--1);
}

/* If on a phone, make header vertical */
@media (max-width: 600px) {
  .nav-main ul {
    position: absolute;
    width: 100%;
    background: var(--black--2);
    z-index: -1;
    left: 0;
    text-align: center;
    margin-top: 70px;
    padding: 0;
    display: none;
  }

  .nav-main li {
    display: block;
    margin: 0;
    font-size: 1.1rem;
    line-height: 30px;
    border-top-width: 1.3px;
    border-top-style: solid;
    border-top-color: var(--white--2);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }

  .checkbtn {
    display: block;
  }

  .checkbtn-profile {
    float: none;
    display: block;
  }

  .profile-dropdown {
    top: 50%;
    border-left: none;
  }

  #check:checked~ul {
    display: block;
  }
}

/* Logo */
.logo img {
  width: 280px;
  object-fit: contain;
  margin: 0px 15px;
  max-width: 12rem;
}

/* Scroll to top button */
.btn-scrollup {
  position: fixed;
  bottom: 3%;
  right: 1.5%;
  padding: 1.5rem 1.5rem;
  background-color: var(--main--nabyblue);
  color: var(--white--1);
  border: 0 solid transparent;
  border-radius: 100%;
  cursor: pointer;
  transform: translateY(100px);
  transition: 0.3s;
}

.btn_scrollup--visible {
  transform: translateY(0px);
}

.btn-scrollup:hover {
  transform: translateY(-6px);
  transition: all 0.2s ease-in-out;
}

/* Footer */
footer {
  background-color: var(--black--3);
  color: var(--white--3);
  padding: 1.5rem 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Make text-decoration play well on the black background */
footer a {
  color: var(--white--3);
  text-decoration: underline;
}

/* Landing page content */

#welcome-hero {
  background-color: var(--white--3);
  padding: 20px 50px;
}

#members {
  padding: 20px 50px;
}

.search-members {
  text-align: center;
}

.search-members__title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.search-members__input {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Inter";
  font-weight: 400;
  max-width: 60%;
  width: 100%;
  text-align: center;
  /* Center */
  margin: 0 auto;
}

/* Make the search box responsive */
@media (max-width: 600px) {
  .search-box {
    width: 85%;
    flex-direction: column;
  }

  .search-box input {
    margin-bottom: 10px;
  }
}

/* Profiles */
.profile__list {
  /* Flex for team members' avatars */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: 80%;
  margin: 0 auto;
}

/* Center on mobile */
@media (max-width: 600px) {
  .profile__list {
    max-width: 100%;
    justify-content: center;
  }
}

.profile {
  /* Flex for each team member's avatar and info */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--white--1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Fixed size */
  width: 250px;
  height: 290px;
  /* Center vertically */
  justify-content: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name,
.profile__title {
  /* Wrap */
  overflow-wrap: break-word;
  /* Center */
  text-align: center;
  /* Max width and break words */
  max-width: 200px;
}

.profile__name {
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px 0;
}

.profile__title {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.adminindexbox {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--white--3);
  border-radius: 0.5rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

.adminindexbox li {
  display: inline-block;
  margin: 0 0.1rem;
  font-size: 1.4rem;
}

.adminindexbox li:before {
  content: "/\00a0";
}

.adminindexbox li a {
  color: var(--main--nabyblue);
  text-decoration: none;
  font-weight: 600;
}

.adminindexbox li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.admin-box {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.admin-box article {
  background: var(--white--1);
  box-shadow: var(--box-shadow);
  border-radius: 0.8rem;
  margin: 0 0.5rem 30px 0.5rem;
  padding: 20px;
  box-sizing: border-box;
  min-height: 20rem;
}

.admin-box ul {
  list-style: none;
  line-height: 4rem;
}

.admin-box button {
  background: var(--white--4);
  height: 3rem;
  width: 14rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.save {
  background: var(--main--nabyblue) !important;
  color: var(--white--1);
}

.col-100 {
  width: calc(100% - 1rem);
}

.col-50 {
  width: calc(50% - 1rem);
}

.col-33 {
  width: calc(33.33% - 1rem);
}

.col-25 {
  width: calc(25% - 1rem);
}

@media screen and (max-width: 800px) {

  .col-50,
  .col-33,
  .col-25 {
    width: calc(100% - 1rem);
  }
}

/* statutes and inscriptions */
.styleword {
  text-align: justify;
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

.styleword span {
  font-weight: bold;
}

.styleword li p {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
}

figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

.footnote-ref {
  font-size: 0.6rem;
}

.footnote-back {
  font-size: 0.6rem;
}

/*Iframe content links OSUC*/
#linksOSUC {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  border: none;
}

/* Admin */
.login-picture {
  /* Round login picture in the top right */
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.admin__main {
  padding: 20px 50px;
  margin-left: 60px;
}

.admin__welcome {
  /* This is the "Hola, <persona> 👋" */
  font-size: 2.3em;
  margin: 10px 0;
  text-align: center;
  margin-top: 30px;
}

/* aside */
.nav-admin {
  background-color: var(--white--3);
  box-shadow: var(--box-shadow);
  width: 60px;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  transition: all 0.4s ease-in-out;
  padding-top: 70px;
}

/* nav */
.nav-admin__nav {
  /* This is a lateral navbar that goes on left of the page */
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
}

/* ul */
.nav-admin__ul {
  /* Disable the default bullets in the list */
  list-style-type: none;
  /* Set reasonable defaults */
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav-admin ul li {
  /* Each list item has a relative position from the fixed bar */
  position: relative;
  /* This is important to ensure it is centered vertically */
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.nav-admin ul li a {
  padding: auto;
  /* This is to disable underlines for the links */
  text-decoration: none;
}

/* Selected li */
.nav-admin li.active {
  /* This changes the background of the active element */
  /* This means we just need to add the "active" class to */
  /* the current page. */
  background-color: var(--white--2);
}

.badge-container {
  display: block;
  float: left;
  padding: 15px 15px;
}

.badge-image-container {
  height: 170px;
  width: 148px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hexagon {
  background-image: url("/assets/images/badges/null1.svg");
}

.circle {
  background-image: url("/assets/images/badges/null2.svg");
}

.shield {
  background-image: url("/assets/images/badges/null3.svg");
}

.badge-info-container {
  text-align: center;
  padding: 7px 3px 10px;
  line-height: 1;
  height: 70px;
  width: 148px;
}

.badge-title {
  color: var(--black--4);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.badge-container-empty {
  color: #9bacb0;
}

.badge-container-empty:hover .badge-image-container {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.badge-container-empty:hover .badge-title {
  color: #d4dcdd;
}

.personal-profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.profile-picture img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  padding: 1rem;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-header h1 {
  font-size: 3rem;
  margin: 0;
}

.personal-profile h1 {
  font-size: 1.5rem;
  margin: 0;
}

.content-profile {
  text-align: justify;
  max-width: 90%;
  padding-bottom: 20px;
}

.personal-profile {
  /* Give proper margin to the whole body */
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
