/* Defensive CSS Reset */
/* https://defensivecss.dev/articles/intro-defensive-css/ */

/* [1] Break words when there is enough space */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
  /* [1] */
}

/*
[1] Set a maximum width for an image
[2] Let the image cover its bounding box to avoid distortion.
*/
img {
  max-width: 100%;
  /* [1] */
  object-fit: cover;
  /* [2] */
}

/* Variables */

:root {
  /* Colors (from the OSUC Design Kit) */
  --main--color: rgba(0, 115, 222, 1);
  --black--1: rgba(46, 52, 64, 1);
  --black--2: rgba(59, 66, 82, 1);
  --black--3: rgba(67, 76, 94, 1);
  --black--4: rgba(76, 86, 106, 1);
  --white--1: rgba(242, 244, 248, 1);
  --white--2: rgba(229, 233, 240, 1);
  --white--3: rgba(216, 222, 233, 1);
  --white--4: rgba(193, 200, 215, 1);
  --blue: rgba(94, 129, 172, 1);
  --yellow: rgba(235, 203, 139, 1);
  --red: rgba(191, 97, 106, 1);
  --teal: rgba(143, 188, 187, 1);
  --green: rgba(163, 190, 140, 1);
  --orange: rgba(208, 135, 112, 1);
  --purple: rgba(180, 142, 173, 1);
}

/* Set default text styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--black--1);
  background: var(--white--2);
  margin: 20px auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

h1 h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
}

h1 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 24px;
}

/* No borders! */
body {
  margin: 0px auto;
}

/* Header + Navbar */
header {
  background-color: var(--black--2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Make navbar an right-aligned horizontal flex */
.nav-main li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

/* Link styling */
.nav-main a {
  color: var(--white--3);
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
}

/* Make navbar links whiter on hover */
.nav-main a:hover {
  color: var(--white--1);
}

/* If on a phone, make header vertical */
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  /* Make the main navbar centered */
  .nav-main {
    justify-content: center;
    text-align: center;
  }
}

/* Logo */
.logo img {
  object-fit: contain;
  margin: 0px 15px;
}

/* Footer */
footer {
  background-color: var(--black--3);
  color: var(--white--3);
  padding: 1.5rem 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Make text-decoration play well on the black background */
footer a {
  color: var(--white--3);
  text-decoration: underline;
}

/* Landing page content */

#welcome-hero {
  background-color: var(--white--3);
  padding: 20px 50px;
}

#members {
  background-color: var(--white--1);
  padding: 20px 50px;
}

.search-members {
  text-align: center;
}

.search-members__title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.search-members__input {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Inter";
  font-weight: 400;
  max-width: 60%;
  width: 100%;
  text-align: center;
  /* Center */
  margin: 0 auto;
}

/* Make the search box responsive */
@media (max-width: 600px) {
  .search-box {
    width: 85%;
    flex-direction: column;
  }

  .search-box input {
    margin-bottom: 10px;
  }
}

/* Profiles */
.profile__list {
  /* Flex for team members' avatars */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: 80%;
  margin: 0 auto;
}

/* Center on mobile */
@media (max-width: 600px) {
  .profile__list {
    max-width: 100%;
    justify-content: center;
  }
}

.profile {
  /* Flex for each team member's avatar and info */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--white--1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Fixed size */
  width: 250px;
  height: 290px;
  /* Center vertically */
  justify-content: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name,
.profile__title {
  /* Wrap */
  overflow-wrap: break-word;
  /* Center */
  text-align: center;
  /* Max width and break words */
  max-width: 200px;
}

.profile__name {
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px 0;
}

.profile__title {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

/* Admin */
.login-picture {
  /* Round login picture in the top right */
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.admin__main {
  padding: 20px 50px;
  margin-left: 60px;
}

.admin__welcome {
  /* This is the "Hola, <persona> 👋" */
  font-size: 2.3em;
  margin: 10px 0;
  text-align: center;
  margin-top: 30px;
}

/* aside */
.nav-admin {
  position: fixed;
  height: 100%;
  /* This is the main navbar offset (-1 for border) */
  top: 107px;
  bottom: 0px;
  left: 0px;
  /* The sidebar width */
  width: 60px;
  /* Some decoration */
  background-color: white;
  border: 1px solid rgb(126, 126, 126);
  /* This makes sure the sidebar is on top of */
  /* everything else in the page. */
  z-index: 100;
}

/* Update top position on phone */
@media (max-width: 600px) {
  .nav-admin {
    /* This updates the position because of the larger  */
    /* navbar on mobile (-1 for border too) */
    top: 179px;
  }
}

/* nav */

.nav-admin__nav {
  /* This is a lateral navbar meant to go on the left of the page */
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
}

/* ul */
.nav-admin__ul {
  /* Disable the default bullets in the list */
  list-style-type: none;
  /* Set reasonable defaults */
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav-admin ul li {
  /* Each list item has a relative position from the fixed bar */
  position: relative;
  /* This is important to ensure it is centered vertically */
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.nav-admin ul li a {
  padding: auto;
  /* This is to disable underlines for the links */
  text-decoration: none;
}

/* Selected li */
.nav-admin li.active {
  /* This changes the background of the active element */
  /* This means we just need to add the "active" class to */
  /* the current page. */
  background-color: rgb(230, 230, 230);
}
