:root {
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
    --danger: #EF5734;
    --info: #33CC99;
    --grey: #8E8E8E;
    --white: #FFFFFF;
    --black: #000000;
}